.container-entry {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.entry-table,
.exit-table {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
}
